h1,
h2,
h3 {
	font-family: "Viaoda Libre", cursive;
}

p,
li,
a,
label,
input,
button {
	font-family: "Montserrat", sans-serif;
}
.logo {
    display: inline-block;
    background-image: url("/images/logo2.png");
	width: 80px;
	height: 80px;
	
}
.logo:hover{
    transform: scale(1.5,1.1);
}

.menu-sm:hover{
    cursor:pointer;
}

